body {
  background-color: coral;
}

.App {
  max-width: 800px;
  margin: 48px auto;
  border-radius: 16px;
  box-shadow: 0 5px 10px grey;
  background-color: white;
  padding: 48px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

iframe
{
    display: none;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.loader-overlay h1 {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}